@import "variables";
@import "header";
@import "contenidoPrincipal";
@import "footer";
@import "medias";

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}